<div class="center hero-unit">
  <h1>hitorikurashino interiasaito dorisupe he youkoso</h1>

  <h2>
    kochiranosaitoha
  </h2>

   <%= link_to "find stud", "#", class: "btn btn-lagrge btn-primary" %>
   <%= link_to "find mod", "#", class: "btn btn-lagrge btn-danger" %>
</div>