<div class="center hero-unit">
  <div class="home">
    <h1>
    一人<br>
    いんて<br>
    どりすぺ<br>
    ようこそ
    </h1>

    <h2>
      こちらのサイトは
    </h2>
    <% if signed_in? %>
     <%= link_to "デザインーを待っている\n入り口", find_designer_posts_path, class: "btn btn-lagrge btn-primary" %>
     <%= link_to "モデル部屋を待っている\n入り口", "#", class: "btn btn-lagrge btn-danger" %>
      <% else %>
      <h3>
        ↓ログイン↓
      </h3>
      <%= link_to "Sign in Now", signin_path, class: "btn btn-lagrge btn-info" %>
      <h3>
        ↓また登録していない方はこちら↓
      </h3>
      <%= link_to "Sign up Now", signup_path, class: "btn btn-lagrge btn-warning" %>
      <% end %>
  </div>
</div>