<div class="center hero-unit">
  <div class="home">
    <h1>
    一人<br>
    いんて<br>
    どりすぺ<br>
    ようこそ
    </h1>

    <h2>
      こちらのサイトは
    </h2>

     <%= link_to "find stud", "#", class: "btn btn-lagrge btn-primary" %>
     <%= link_to "find mod", "#", class: "btn btn-lagrge btn-danger" %>
    <% if signed_in? %>
      <% else %>
      <h3>
        ↓また登録していない方はこちら↓
      </h3>
      <%= link_to "Sign up Now", signup_path, class: "btn btn-lagrge btn-info" %>
      <% end %>
  </div>
</div>