@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.hero-unit {
padding-top: 80px;
padding-bottom: 80px;
margin-bottom: 30px;
background-image: url(/images/toppage.jpeg);
background-repeat: no-repeat;
background-position: 50% 50%; 
background-size:800px 500px;
background-color:  rgba(0, 85, 20, 0.1);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

.hero-unit2 {
padding-top: 80px;
padding-bottom: 80px;
margin-bottom: 30px;
background-repeat: no-repeat;
background-position: 50% 50%; 
background-size:800px 500px;
background-color:  rgba(0, 85, 20, 0.1);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

.home{
  color: gray;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: rgba(245,245,245,0.8);
  padding-top: 12px;
  padding-bottom: 12px;
}

/* typography */

h1, h2, h3, h4, h5, h6, h7 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray;
}

h7 {
  letter-spacing: -2px;
  margin-bottom: 150px;
  text-align: center;
  margin-left: 240px;
  color: red;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: black;
  text-decoration: none;
}

/* footer */

footer {
position: relative;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
  background-color: rgba(245,245,245,0.8);
}

footer ul li {
  float: left;
  margin-left: 30px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.btn-xlagrge {
    padding: 0px 23px;
    font-size: 16px; //change this to your desired size
    line-height: normal;
    margin: 10px;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.select_area {
padding-left: 30px;
margin-bottom: 3px0px;
}

.profile-form{
width: 1000px;
border-collapse: separate;
border-top: 1px solid #ccc;
border-left: 1px solid #ccc;
margin-top: 30px;


}

.profile-form th{
height: 80px;
width: 100px;
padding:4px;
align: center;
valign: center;
color: #444;
background-color: #feedf3;
border-left: 3px double #999;
border-top: 1px solid #fff;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}

.profile-form td{
width: 500px;
padding:4px;
background-color: rgba(245,245,245,0.3);
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}

.posts-all-in-profile {
  height: 20px;
}

.introduction-myself{
  height: 20px;
}

.show-profile-photo {
}

.btn-group {
  margin-left: 130px;
}

.room-photo{
  width: 800px;
  border: 1px solid;
  background-color: rgba(245,245,245,0.8);
}

.show-room-photo{
  margin: 10px;
  margin-left: 50px;
}

.show-room-photo2{
  align: center;
  margin: 10px;
  margin-left: 50px;
}

.button {
  margin-left: 150px;
}

.button2 {
  margin-left: 130px;
}

.table-bordered th {
  color: black;
}

.post_index td{
  background-color: rgba(102,205,170,0.2);;
}

.button3 {
  margin-left: 180px;
}

.button4 {
  margin-left: 100px;
}

.profile-form2{
height: 400px;
width: 800px;
border-collapse: separate;
border-top: 1px solid #ccc;
border-left: 1px solid #ccc;
margin-top: 30px;


}

.profile-form2 th{
align: center;
valign: center;
width: 100px;
padding:4px;
color: #444;
background-color: #feedf3;
border-left: 3px double #999;
border-top: 1px solid #fff;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}

.profile-form2 td{
height: 40px;
padding:4px;
background-color: rgba(245,245,245,0.3);
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}

.profile-form3{
height: 400px;
width: 1000px;
border-collapse: separate;
border-top: 1px solid #ccc;
border-left: 1px solid #ccc;
margin-top: 30px;


}

.profile-form3 th{
align: center;
valign: center;
width: 100px;
padding:4px;
color: #444;
background-color: #feedf3;
border-left: 3px double #999;
border-top: 1px solid #fff;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}

.profile-form3 td{
width: 400px;
height: 40px;
padding:4px;
background-color: rgba(245,245,245,0.3);
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}

