<footer class="footer">
  <small>
    Copyright (C) 2014 dreamspace.herokuapp.com All Rights Reserved.<br>
    Rails Tutorial
    by ChonMeng WONG
  </small>
  <nav>
    <ul>
      <li><%= link_to "「どりすぺについて",   about_path %></li>
      <li><%= mail_to 'user@example.com', '連絡先' %></li>
    </ul>
  </nav>
</footer>