<header class= "navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "★どりすぺ★", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "ログイン", '#' %></li>
          <li><%= link_to "プロフィール", '#' %></li>
          <li><%= link_to "注意事項", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>